@import "reset.css";
@font-face {
  font-family: "VinnytsiaSansBold";
  src: url(../fonts/VinnytsiaSansBold.ttf);
}
@font-face {
	font-family: 'Caviar Dreams';
	src: url('../fonts/caviar_dreams.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/caviar_dreams.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/caviar_dreams.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/caviar_dreams.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/caviar_dreams.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/caviar_dreams.svg#caviar_dreams') format('svg'); /* Chrome < 4, Legacy iOS */
}

html, body {
  height: 100%;
}

body{
  background-color: rgb(0, 0, 0);
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header:before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
}
.header__burger {
  display: none;
}
.header__body {
  position: relative;
  width: 100%;
  height: 65px;
  background-color: black;
}
.header__navigator {
  height: 100%;
  max-width: 1160px;
  color: #debf83;
  margin: 0 auto;
  display: flex;
}

.h-leftside {
  display: flex;
  z-index: 3;
}
.h-leftside__icon {
  max-width: 50px;
  width: 50px;
  height: auto;
  margin: auto;
  padding-left: 20px;
  cursor: pointer;
}
.leftside__icon {
max-width: 100%;
}

.h-centerside {
  margin:auto 0;
  width: 100%;  
  text-align: right;
  z-index: 3;
}

.h-centerside__list-item {
  display: inline-block;
  padding: 0 15px;
  font-size: 12px;
  font-family: "Caviar Dreams", Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.anim-underline {
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}
.anim-underline:after {
  display: block;
  content:"";
  height: 2px;
  width: 0%;
  background-color: red;
  transition: width 0.4s ease-in-out;
}
.h-centerside__link-item:hover:after,
.anim-underline:focus:after {
  width: 100%;
}
.red-underline {
  border-bottom: solid 2px red;
}

.h-rightside {
  padding: 0 30px;
  display: flex;
  z-index: 3;
}
.h-rightside__block {
  margin: auto;
  display: flex;
}
.h-rightside__social-link {
  max-width: 35px;
  width: 35px;
  margin: auto;
}
.h-social-link {
  max-width: 100%;
  cursor: pointer;
}
.body__img {
  padding-top: 65px;
  background: black url(../img/background/01.jpg) no-repeat fixed left top; 
  background-size: cover;
  max-height: 700px;
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.body__title {
  font-family: "VinnytsiaSansBold", Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #debf83;
  text-align: center;
  margin: auto;
  cursor:crosshair;
}

.content {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.photo__card {
  display: flex;
}
.photo__body {
  max-width: 1050px;
  width: 100%;
  height: auto;
  padding: 70px 20px 10px;
  margin: auto;
  color: #debf83;
  text-align: left;
}
.c-photo{
  width: 100%;
  box-shadow: 0 0 15px #dec0838c;
}
.c-text {
  line-height: 25px;
  padding: 30px 0px 40px;
}


.footer__body {
  width: 100%; 
  text-align: center;
  padding: 30px 0 40px;
}
.footer__text {
  font-size: 12px;
  font-family: "Caviar Dreams", Arial, sans-serif;
  color:#debf83;
  font-weight: bold;
  letter-spacing: 0.5px;
}

::-webkit-scrollbar {width: 0;}


@media screen and (max-width: 768px) {
  .body.lock {
    overflow: hidden;
  }
  .header__body {
    height: 50px;
  }
  .header__burger {
    display: block;
    position: relative;
    left: 84%;
    margin: 18px 0;
    width: 45px;
    height: 35px;
    cursor: pointer;
    z-index: 3;
  }
  .header__navigator {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color:black;
    display: block;
    padding: 60px 0 0 0;
  }
  .header__navigator.active {
    top: 0%;
  }
  .header__burger span {
    background-color: #debf83;
    position: absolute;
    width: 100%;
    height: 6px;
    left: 0;
    top: 15px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger::after {
    content: "";
    background-color: #debf83;
    position: absolute;
    width: 100%;
    height: 6px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active span{
    transform: scale(0);
  }
  .header__burger.active:before{
    transform: rotate(45deg);
    top:15px;
  }
  .header__burger.active:after{
    transform: rotate(-45deg);
    bottom:14px;
  }
  .h-burger {
    width: 100%;
    height: 100%;
  }
  .h-leftside__icon {
    padding: 60px;
  }
  .h-centerside {
    text-align: center;
  }
  .h-centerside__list-item {
    display: block;
    padding: 20px;
    font-size: 16px;
  }
  .h-rightside {
    padding: 30px;
  }
  .body__img {
    background-attachment: fixed;
  }
}

@media screen and (max-height: 400px) {
  .h-leftside{
    display: none;
  }
}

